@model LBP.Web.ViewModels.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Login Liga Basquetbol Presa";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS-->
    <link href=@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css") rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/Content/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/Content/css/sb-admin.css")" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form method="post" action="@Url.Action("Login")">
                    <div class="form-group">
                        <label for="exampleInputText">Usuario</label>
                        @Html.TextBoxFor(X => X.Usuario, new
                   {
                       @class = "form-control",
                       placeholder = "Ingresa tu Usuario",
                       style = "text-transform:uppercase",
                       type = "text"
                   })
                        
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        @Html.TextBoxFor(X => X.password, new
                   {
                       @class = "form-control",
                       placeholder = "Password",
                       type = "password"
                   })
                        <div class="container">
                            <p class="text-info"> @Html.ValidationMessageFor(model => model.password)</p>
                        </div>
                    </div>                   
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Recordar Password
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block">Ingresa</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("RegistrarUsuario")">Registarte</a>
                    <a class="d-block small" href="forgot-password.html">Olvidaste tu Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="@Url.Content("~/Content/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- Core plugin JavaScript-->
    <script src="@Url.Content("~/Content/vendor/jquery-easing/jquery.easing.min.js")"></script>
</body>
</html>