@model LBP.Web.ViewModels.LstRolesViewModel
@{
    ViewBag.Title = "Lista de Roles";

    String strRol = String.Empty;

    if (Session["objUsuario"] != null)
    {
        strRol = ((LBP.Web.Models.Usuarios)Session["objUsuario"]).Roles.Acronimo;
    }
}

@if (strRol == "DES" || strRol == "ADM")
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa form-search"></i> @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Acronimo</th>
                            <th>Descripción</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Acronimo</th>
                            <th>Descripción</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr aling="Center">
                            @foreach (var item in Model.LstRoles)
                            {
                            <tr>
                                <td>@item.Acronimo</td>
                                <td>@item.Descripcion</td>
                                <td>
                                    <a href="@Url.Action("AddEditRoles", new { RolId = item.RolId})" class="btn btn-default">
                                        <i class="fa fa-edit"></i>&nbsp; Editar
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("DeleteRoles", new {RolId = item.RolId})" class="btn btn-default">
                                        <i class="fa fa-trash-o"></i>&nbsp; Eliminar
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>      
            </div>
        <div class="card-footer small text-muted">@DateTime.Now.ToString()</div>
        </div>
        <div>
            <a class="btn btn-primary" href="@Url.Action("AddEditRoles")">
                <i class="fa fa-plus"></i>&nbsp; Agregar
            </a>
        </div>
}
else if (strRol == "JUG")
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa form-search"></i> @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Acronimo</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Acronimo</th>
                            <th>Descripción</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr aling="Center">
                            @foreach (var item in Model.LstRoles)
                            {
                            <tr>
                                <td>@item.Acronimo</td>
                                <td>@item.Descripcion</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="card-footer small text-muted">@DateTime.Now.ToString()</div>
        </div>
}
else if (strRol == "REP")
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa form-search"></i> @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Acronimo</th>
                            <th>Descripción</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Acronimo</th>
                            <th>Descripción</th>
                            <th>Editar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr aling="Center">
                            @foreach (var item in Model.LstRoles)
                            {
                            <tr>
                                <td>@item.Acronimo</td>
                                <td>@item.Descripcion</td>
                                <td>
                                    <a href="@Url.Action("AddEditRoles", new { RolId = item.RolId})" class="btn btn-default">
                                        <i class="fa fa-edit"></i>&nbsp; Editar
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="card-footer small text-muted">@DateTime.Now.ToString()</div>
        </div>
}