@{
    String strUsuario = String.Empty;
    String strRol = String.Empty;
    String strPaterno = String.Empty;
    int UsuarioId;

    if (Session["objUsuario"] != null)
    {
        strUsuario = ((LBP.Web.Models.Usuarios)Session["objUsuario"]).Nombre;
        strRol = ((LBP.Web.Models.Usuarios)Session["objUsuario"]).Roles.Acronimo;
        strPaterno = ((LBP.Web.Models.Usuarios)Session["objUsuario"]).Paterno;
        UsuarioId = ((LBP.Web.Models.Usuarios)Session["objUsuario"]).UsuarioId;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Liga de Basquetbol Presa</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <!-- Bootstrap core CSS-->
    <link href=@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css") rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href=@Url.Content("~/Content/vendor/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href=@Url.Content("~/Content/vendor/datatables/dataTables.bootstrap4.css") rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href=@Url.Content("~/Content/css/sb-admin.css") rel="stylesheet">

    <!------------------------------Datapicker------------------------------------------------------->
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")"
          rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"
            type="text/javascript"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">Liga Basquetbol Presa</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
@if (strRol == "DES" || strRol == "ADM")
{
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Dashboard")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Estadisticas">
                    <a class="nav-link" href="@Url.Action("LstEstadisticas")">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Estadisticas</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Equipos">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents1" data-parent="#exampleAccordion">
                        <i class="fa fa-dribbble"></i>
                        <span class="nav-link-text">Liga</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents1">
                        <li>
                            <a href="@Url.Action("LstEquipos")">Equipos</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstJugadores")">Jugadores</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstPartidos")">Partidos</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstTemporadas")">Temporadas</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstJornadas")">Jornadas</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Usuarios">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Usuarios</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="@Url.Action("LstUsuarios")">Usuarios</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstRoles")">Roles</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstSesiones")">Sesiones</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Admnistracion de pagina</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a href="@Url.Action("Login")">Login</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Registrar")">Registar</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Resetear")">Resetear Password</a>
                        </li>
                    </ul>
                </li>
}
else if (strRol == "JUG" || strRol == "REP")
{
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="@Url.Action("Dashboard")">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Estadisticas">
                    <a class="nav-link" href="@Url.Action("LstEstadisticas")">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Estadisticas</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Equipos">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents1" data-parent="#exampleAccordion">
                        <i class="fa fa-dribbble"></i>
                        <span class="nav-link-text">Liga</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents1">
                        <li>
                            <a href="@Url.Action("LstEquipos")">Equipos</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstJugadores")">Jugadores</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstPartidos")">Partidos</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstTemporadas")">Temporadas</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LstJornadas")">Jornadas</a>
                        </li>
                    </ul>
                </li>
}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="https://www.facebook.com/Liga-B%C3%A1sketball-Presa-1922043758026150/">
                        <i class="fa fa-facebook"></i>
                        <span class="nav-link-text">Facebook</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-fw fa-user"></i>@strUsuario  @strPaterno
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard")">Home</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>
            @RenderBody()
        </div>


        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Liga de Baloncesto Presa - @DateTime.Now.Year</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal cerar sesion-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Estas Listo?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Selecciona "Logout" para cerrar sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("CerrarSesion")">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src=@Url.Content("~/Content/vendor/jquery/jquery.min.js")></script>
        <script src=@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")></script>
        <!-- Core plugin JavaScript-->
        <script src=@Url.Content("~/Content/vendor/jquery-easing/jquery.easing.min.js")></script>
        <!-- Page level plugin JavaScript-->
        <script src=@Url.Content("~/Content/vendor/chart.js/Chart.min.js")></script>
        <script src=@Url.Content("~/Content/vendor/datatables/jquery.dataTables.js")></script>
        <script src=@Url.Content("~/Content/vendor/datatables/dataTables.bootstrap4.js")></script>
        <!-- Custom scripts for all pages-->
        <script src=@Url.Content("~/Content/js/sb-admin.min.js")></script>
        <!-- Custom scripts for this page-->
        <script src=@Url.Content("~/Content/js/sb-admin-datatables.min.js")></script>
        <script src=@Url.Content("~/Content/js/sb-admin-charts.min.js")></script>

        <script>
            $(document).ready(function () {
                $('#dataTable').dataTable();
            });
        </script>
    </div>
</body>
</html>
